<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<body>

    <div id="sine-graph" style="width: 400px; height: 400px;">
</body>

<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
     var request_data_interval;
    chatSocket.onopen = function()
    {
        // Web Socket is connected, send data using send()
        chatSocket.send("Message to send");
        request_data_interval = window.setInterval(requestData, 50);
    };

    chatSocket.onmessage = function (evt)
    {
        var received_msg = evt.data;
        data = JSON.parse(evt.data);
        var my_plot = {
            x: data.x,
            y: data.y,
            type: 'scatter'
        };
        Plotly.newPlot('sine-graph', [my_plot]);
    };

    chatSocket.onclose = function()
    {
      // websocket is closed.
      window.clearInterval(request_data_interval)
    };

    function requestData()
    {
        chatSocket.send("get-data");
    }
</script>
</html>